.contact-us-page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contact-us-page h1 {
    color: rgb(169,77,123);
    margin-bottom: 20px;
    font-weight:bold ;
    text-align: center;
  }
  
  .contact-us-page p {
    margin-bottom: 10px;
    text-indent: 20px;
  }
  
  .contact-info {
    margin-bottom: 30px;
  }
  
  .contact-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    margin-bottom: 5px;
  }
  
  .contact-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
  }
  
  .contact-form h3 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  